.bannerImg {
  display: block;
  margin: 70px auto 0;
  height: 350px;
  width: 1300px;
  object-fit: cover;
  object-position: center;
}

.post {
  width: 50%;
  margin: 0 auto;
}

.postInfo {
  margin-top: 1rem;
}

.userInfo {
  margin: 2rem 0;
}
